{% extends 'base.html.twig' %}

{% block title %}Hello AProposController!{% endblock %}

{% block body %}
<section data-jarallax data-speed=".8" class="py-15 overlay overlay-black overlay-70 jarallax" style="background-image: url(/img/imgPC5.jpg)">
<div class="container">
    <div class="row">
        <div class="col-12 col-md-12">
            <blockquote class="bloquote mb-0">
                <p class="h2 text-white ">
                {{ developpeur.aPropos }}
                </p>
            </blockquote>
            <footer class="blockquote-footer text-white-50 mb-0">
                {{ developpeur.nom }} {{ developpeur.prenom }}
            </footer>
        </div>
    </div>
</div>
</section>
{% endblock %}
