    <!-- ARTICLES -->
    <section class="pt-7 pt-md-10 bg-light">
      <div class="container">

        <div class="row align-items-center mb-5">
          <div class="col-12 col-md">

            <!-- Heading -->
            <h3 class="mb-0">
            Article
            </h3>

            <!-- Text -->
            <p class="mb-0 text-muted">
              Weekly Roundtable Meetings Saved Us.
            </p>

          </div>
          
        </div> <!-- / .row -->
        <div class="row">
          {% for blogpost in blogposts  %}

          <div class="col-12 col-md-6 col-lg-4 d-flex">

            <!-- Card -->
            <div class="card mb-6 mb-lg-0 shadow-light-lg lift lift-lg">

              

              <!-- Body -->
              <a class="card-body" href="{{ path('actualiteDetail', {'slug': blogpost.slug}) }}">

                <!-- Heading -->
                <h3>
                  {{ blogpost.titre }}
                </h3>

                <!-- Text -->
                <p class="mb-0 text-muted">
                  {{ blogpost.contenu|u.truncate(150, '...', false) }}
                </p>

              </a>

              <!-- Meta -->
              <a class="card-meta mt-auto" href="{{ path('actualiteDetail', {'slug': blogpost.slug}) }}">

                <!-- Divider -->
                <hr class="card-meta-divider">

                
                <!-- Author -->
                <h6 class="text-uppercase text-muted me-2 mb-0">
                  Ab Hadley
                </h6>

                <!-- Date -->
                <p class="h6 text-uppercase text-muted mb-0 ms-auto">
                  <time datetime="2019-05-02">{{ blogpost.createdAt|date('d/m/y') }}</time>
                </p>

              </a>

            </div>

          

          </div>
        {% endfor %}

        </div> <!-- / .row -->
        
      </div> <!-- / .container -->
    </section>
   