{% extends 'base.html.twig' %}

{% block title %}Accueil!{% endblock %}

{% block body %}

        {% include 'home/welcome.html.twig' %}
        {% include 'home/blogpost.html.twig' %}
        {% include 'home/realisation.html.twig' %}

{% endblock %}
