    <!-- ARTICLES -->
    <section class="pt-8 pt-md-11">
      <div class="container">
        <div class="row">
          <div class="col-12">

            <!-- Heading -->
            <h2 class="mb-0">
              Derniere Réalisation
            </h2>

            <!--  -->
            <p class="mb-5 text-muted">
              Voici un exemple des derniere réalisation que j'ai pu éffectué
            </p>

          </div>
        </div> <!-- / .row -->
        <div class="row">
          {% for projet in projets %}
          <div class="col-12">

            <!-- Card 2 -->
            <div class="card card-row shadow-light-lg mb-6 lift lift-lg" data-aos="fade-right">
              <div class="row gx-0">
                
                <a class="col-12 col-md-6 order-md-2 bg-cover card-img-end" style="background-image: url(/img/imgPC1.jpg);" href="{{ path('realisationDetails', {"slug": projet.slug }) }}">

                  <!-- Image (placeholder) -->
                  <img src="{{ projet.file }}" alt="..." class="img-fluid d-md-none invisible">

                  <!-- Shape -->
                  <div class="shape shape-start shape-fluid-y text-white d-none d-md-block">
                    <svg viewBox="0 0 112 690" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M0 0h62.759v172C38.62 384 112 517 112 517v173H0V0z" fill="currentColor"/></svg>                  </div>

                </a>
                <div class="col-12 col-md-6 order-md-1">

                  <!-- Body -->
                  <a class="card-body" href="{{ path('realisationDetails', {"slug": projet.slug }) }}">

                    <!-- Heading -->
                    <h3>
                      {{projet.nom}}
                    </h3>

                    <!-- Text -->
                    <p class="mb-0 text-muted">
                      {{ projet.description|u.truncate(200, '...', false) }}
                    </p>

                  </a>

                  <!-- Meta -->
                  <a class="card-meta" href="{{ path('realisationDetails', {"slug": projet.slug }) }}">

                    <!-- Divider -->
                    <hr class="card-meta-divider">

                    <!-- Date -->
                    <p class="h6 text-uppercase text-muted mb-0 ms-auto">
                      <time datetime="2019-05-31">Ajoutée le {{ projet.createdAt|date('d/m/y') }}</time>
                    </p>

                  </a>

                </div>

              </div> <!-- / .row -->
            </div>
            {% endfor %}
    </section>
