<!-- WELCOME -->
    <section data-jarallax data-speed=".8" class="py-10 py-md-14 overlay overlay-black overlay-60 bg-cover jarallax" style="background-image: url(img/cover-12.jpg);">
      <div class="container">
        <div class="row justify-content-center">
          <div class="col-12 col-md-10 col-lg-8 text-center">

            <!-- Heading -->
            <h1 class="display-2 text-white">
              Travaillons enssemble !
            </h1>

            <!-- Text -->
            <p class="lead text-white-75 mb-6">
              Vous êtes a la recherche d'un projet pour développer votre activité (site vitrine / e-commerce, application web, maintenance de site).
              Venez découvrir les services que je peux vous proposé.
            </p>

            <!-- Button -->
            <a href="{{ path('portfolio') }}" class="btn btn-primary lift">
              Venez découvrir mes projets <i class="fe fe-arrow-right ms-3"></i>
            </a>

          </div>
        </div> <!-- / .row -->
      </div> <!-- / .container -->
    </section>

<!-- SHAPE -->
    <div class="position-relative">
      <div class="shape shape-bottom shape-fluid-x text-light">
        <svg viewBox="0 0 2880 48" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M0 48h2880V0h-720C1442.5 52 720 0 720 0H0v48z" fill="currentColor"/></svg>      </div>
    </div>