{% extends 'base.html.twig' %}

{% block title %}Hello ContactController!{% endblock %}

{% block body %}

    <section>
        <div class="container d-flex flex-column">
            <div class="row align-items-center justify-content-between gx-0 min-vh-100">
                <div class="col-12col-md5align-self-stretch">
                    <h2 class="fw-bold text-center mb-2">
                        Me contacter.
                    </h2>

                    <p class="fs-lg text-center text-muted mb-0">
                        Une question ? Envie d'être present sur le web ? 
                        Et d'être plus visible sur le marché, 
                        N'hésitez pas a me contacter.  
                    </p>
                    <hr class="hr-smmy-6my-md-8mx-autobg-gray-300">

                    {{ form_start(form) }}
                     {% for message in app.flashes('success') %}
                     <div class="alert alert-success">
                        {{ message }}
                     </div>
                     {% endfor %}
                     <div class="my-custom-class-for-errors">
                        {{ form_errors(form) }}
                     </div>
                     <div class="form-group mb-5">
                         <label class="form-label">
                            {{ form_label(form.nom) }}
                         </label>
                         {{ form_widget(form.nom) }}
                     </div>
                     <div class="form-group mb-5">
                        <label class="form-label">
                           {{ form_label(form.email) }}
                        </label>
                        {{ form_widget(form.email) }}
                    </div>
                    <div class="form-group mb-5">
                        <label class="form-label">
                           {{ form_label(form.message) }}
                        </label>
                        {{ form_widget(form.message) }}
                    </div>
                    <div class="form-group mb-0">
                        {{ form_widget(form.envoyer) }}
                    </div>
                    {{ form_end(form) }}
                </div>
            </div>
        </div>
    </section>

{% endblock %}
