 {% extends 'base.html.twig' %}

{% block title %}Détail du projet{% endblock %}
 {% block body %}

    <div class="container-fluid px-md-0">
        <div class="row justify-content-between gx-0 mx-md-0 mb-6 mb-md-2">
            <div class="col-12 col-md-3 vh-md-100 mx-auto" style="top:0;">
                <aside class="flex-grow-1 py-8 py-md-10">
                    <div>
                        <h2>{{ projet.nom }}</h2>
                        {% for categorie in projet.categorie %}
                            <span class="badge bg-secondary">
                                {{ categorie.nom }}
                            </span>
                        {% endfor %}
                    </div>
                    <p class="fs-lg mb-7 text-muted">
                        {{ projet.description }}
                    </p>
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item">
                            <h6 class="d-flex mb-0 text-uppercase">
                                Date de réalisation 
                                <span class="ms-auto">
                                    {{ projet.dateRealisation|date('d/m/Y') }}
                                </span>
                            </h6>
                        </li>
                        <li class="list-group-item">
                            <h6 class="d-flex mb-0 text-uppercase">
                                Prix
                                <span class="ms-auto">
                                {{ projet.tarif }} euros
                                </span>
                            </h6>
                        </li>
                        <li class="list-group-item">
                            <h6 class="d-flex mb-0 text-uppercase">
                                Titre 
                                <span class="ms-auto">
                                    {{ projet.nom }}
                                </span>
                            </h6>
                        </li>
                        <li class="list-group-item">
                            <h6 class="d-flex mb-0 text-uppercase">
                                Fas parti du portfolio 
                                <span class="ms-auto">
                                    {{ projet.portfolio }}
                                </span>
                            </h6>
                        </li>
                        <li class="list-group-item">
                            <h6 class="d-flex mb-0 ">
                                Titre 
                                <span class="ms-auto">
                                    
                                </span>
                            </h6>
                        </li>


                    </ul>
                    
                </aside>
                
            </div>
            <div class="col-12 col-md-8">
                    <section class="pt-md-10">
                        <img class="w-100 h-auto" src="{{ projet.file }}" alt="">
                    </section>
                </div>
            </div>
    </div>

 {% endblock %}