{% extends 'base.html.twig' %}

{% block title %}Hello ProjetController!{% endblock %}

{% block body %}
    <section class="pt-7 pt-md-10">
        <div class="container">
            <div class="row">

    
                {% for projet in projets %}

                    <div class="col-12 col-md-4 d-flex">

                        <!-- Card -->
                        <div class="card mb-6 shadow-light-lg lift lift-lg">

                            <!-- Image -->
                            <a class="card-img-top" href="{{ path('realisationDetails', {"slug": projet.slug }) }}">

                                <!-- Image -->
                                <img src="{{ asset(projet.file) }}" alt="..." class="card-img-top">

                            </a>

                            <!-- Body -->
                            <a class="card-body" href="{{ path('realisationDetails', {'slug': projet.slug }) }}">

                                <!-- Heading -->
                                <h3>
                                {{projet.nom}}
                                </h3>

                                <!-- Text -->
                                <p class="mb-0 text-muted">
                                {{ projet.description|u.truncate(200, '...', false) }}
                                </p>

                            </a>

                            <!-- Meta -->
                            <a class="card-meta mt-auto" href="{{ path('realisationDetails', {'slug': projet.slug }) }}">

                                <!-- Divider -->
                                <hr class="card-meta-divider">

                                <!-- Date -->
                                <p class="h6 text-uppercase text-muted mb-0 ms-auto">
                                <time datetime="2019-05-02">Ajoutée le {{ projet.createdAt|date('d/m/Y') }}</time>
                                </p>

                            </a>

                        </div>
                    </div>
                {% endfor %} 
            </div>   
        </div>   
        <div class="d-flex justify-content-center">
            {% do projets.setPageRange(2) %}
            {{ knp_pagination_render(projets, 'base/pagination.html.twig') }}
        </div>
    </section>

{% endblock %}
