{% extends 'base.html.twig' %}

{% block title %}Actualités{% endblock %}

{% block body %}
    <!-- ARTICLES -->
    <section class="pt-7 pt-md-10 bg-light">
      <div class="container">

        <div class="row align-items-center mb-5">
          <div class="col-12 col-md">

            <!-- Heading -->
            <h3 class="mb-0">
            Article
            </h3>

            <!-- Text -->
            <p class="mb-0 text-muted">
              Weekly Roundtable Meetings Saved Us.
            </p>

          </div>
          
        </div> <!-- / .row -->
        <div class="row">
          {% for actualite in actualites  %}

          <div class="col-12 col-md-6 col-lg-4 d-flex">

            <!-- Card -->
            <div class="card mb-6 mb-lg-0 shadow-light-lg lift lift-lg">

              

              <!-- Body -->
              <a class="card-body" href="{{ path('actualiteDetail', {'slug': actualite.slug}) }}">

                <!-- Heading -->
                <h3>
                  {{ actualite.titre }}
                </h3>

                <!-- Text -->
                <p class="mb-0 text-muted">
                  {{ actualite.contenu|u.truncate(150, '...', false) }}
                </p>

              </a>

              <!-- Meta -->
              <a class="card-meta mt-auto" href="{{ path('actualiteDetail', {'slug': actualite.slug}) }}">

                <!-- Divider -->
                <hr class="card-meta-divider">

                
                

                <!-- Date -->
                <p class="h6 text-uppercase text-muted mb-0 ms-auto">
                  <time datetime="2019-05-02">{{ actualite.createdAt|date('d/m/y') }}</time>
                </p>

              </a>

            </div>

          

          </div>
        {% endfor %}

        </div> <!-- / .row -->
        
      </div> <!-- / .container -->
    </section>
   <div class="d-flex justify-content-center">
            {% do actualites.setPageRange(2) %}
            {{ knp_pagination_render(actualites, 'base/pagination.html.twig') }}
        </div>
{% endblock %}
